<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h1>Want to try Bourey's BBQ? Contact us at one of the options below!</h1>

<h2>Phone</h2>
<a href="tel:1234567890">(123)456-7890</a>
<h2>Email</h2>
<a href="mailto:Boureysbbq@gmail.com">Boureysbbq@gmail.com</a>
<h2>Facebook</h2>
<a href="https://www.facebook.com/BoureysBBQ">Facebook.com/BoureysBBQ</a>














<%- include("partials/footer") %>