<%- include("partials/header") %>
<%- include("partials/navbar") %>
          <h2>Our top class Chef brings you masterfully prepared and cooked dishes from a verity of BBQ styles!</h2>
<div class="container image">
          <ul>
              <li><img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/34/2019/05/bbq-evan-wise-D99y38Na5Xo-unsplash.jpg"></li>
              <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/BBQ_Lamb.jpg/220px-BBQ_Lamb.jpg"></li>
          </ul>
</div>
<h2>Click Taste Me! to begin the journey through BBQ heaven.</h2>
<div class="container">
            <ul>
              <li><img src="https://cafedelites.com/wp-content/uploads/2020/04/Bbq-Baked-Pork-Chops-IMAGE-4.jpg"></li>
              <li><img src="https://molekule.science/wp-content/uploads/2019/06/is-bbq-smoke-bad-1200x580.jpg"></li>
            </ul>

        </div>

<%- include("partials/footer") %>