<%- include("partials/header") %>
<%- include("partials/navbar") %>

          <h2>Our top class Chef brings you masterfully prepared and cooked dishes from a variety of BBQ styles!</h2>

<div class="slideshow-container">
  					<div class="mySlides fade">    
    					<img src="photos/garlicsteak.jpeg" style="width:100%">    
  					</div>

 					 <div class="mySlides fade">    
    					<img src="photos/meal.jpeg" style="width:100%">    
  					</div>

  					<div class="mySlides fade">    
    					<img src="photos/steak.jpeg" style="width:100%">    
  					</div>

	  				<div class="mySlides fade">    
    					<img src="photos/foiled.jpeg" style="width:100%">    
  					</div>

 					 <div class="mySlides fade">    
    					<img src="photos/shoulder.jpeg" style="width:100%">    
  					</div>

  					<div class="mySlides fade">    
    					<img src="photos/ribsgrill.jpeg" style="width:100%">    
  					</div>

				</div>		
    <script src="js/slideshow.js"></script>
<%- include("partials/footer") %>