<%- include("partials/header") %>
<%- include("partials/navbar") %>


<div class="container menu-container">
		<div class="row menu-section">
				<h2>From the Grill</h2>
			<div class="col col-12 col-lg-4 item-section">			
				<h3>Beef</h3>
			<li class="menu-item">Ribs <span></span>  Full-Rack <h4>$18.99</h4>Half-Rack<h4>$12.99</h4></li>
			<li class="menu-item">test <span></span>  Full-Order <h4>$8.99</h4>Half-Order<h4>$5.99</h4></li>
			<li class="menu-item">test <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Chicken</h3>	
			<li class="menu-item">Breast<span></span>  Full-Order <h4>$12.99</h4>Half-Order<h4>$6.99</h4></li>
			<li class="menu-item">Thigh<span></span>  Full-Order <h4>$10.99</h4>Half-Order<h4>$5.99</h4></li>
			<li class="menu-item">Leg<span></span>  Full-Order <h4>$8.99</h4>Half-Order<h4>$4.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Pork</h3>	
			<li class="menu-item">Pork chops<span></span>  Full-Order <h4>$12.99</h4>Half-Order<h4>$6.99</h4></li>
			<li class="menu-item">test<span></span>  Full-Order <h4>$10.99</h4>Half-Order<h4>$5.99</h4></li>
			<li class="menu-item">test<span></span>  Full-Order <h4>$8.99</h4>Half-Order<h4>$4.99</h4></li>
		</div>
	</div>

	
	
		<div class="row menu-section">
				<h2>From The Smoker</h2>
			<div class="col col-12 col-lg-4 item-section">			
				<h3>Beef</h3>
			<li class="menu-item">Brisket <span></span>  Full-Order <h4>$16.99</h4>Half-Order<h4>$10.99</h4></li>
			<li class="menu-item">Chuck Roast<span></span>  Full-Order <h4>$8.99</h4>Half-Order<h4>$5.99</h4></li>
			<li class="menu-item">Tri-tip <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Chicken</h3>	
			<li class="menu-item">Chicken <span></span>  Whole <h4>$7.99</h4>Half<h4>$4.99</h4></li>
			<li class="menu-item">test <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
			<li class="menu-item">test <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Pork</h3>	
			<li class="menu-item">test <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
			<li class="menu-item">test <span></span> Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
			<li class="menu-item">test <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
	</div>

		<div class="row menu-section">
				<h2>Sides</h2>
			<div class="col col-12 col-lg-4 item-section">			
				<h3>Warm-Sides</h3>
			<li class="menu-item">French Fries <span></span>  Full-Order <h4>$6.99</h4>Half-Order<h4>$3.99</h4></li>
			<li class="menu-item">Onion-rings <span></span>  Full-Order <h4>$8.99</h4>Half-Order<h4>$5.99</h4></li>
			<li class="menu-item">Corn Bread <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Cold-Sides</h3>	
			<li class="menu-item">Coleslaw <span></span>  Full-Order <h4>$7.99</h4>Half-Order<h4>$4.99</h4></li>
			<li class="menu-item">Potato Salad <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
			<li class="menu-item">Caprese Salad <span></span>  Full-Order <h4>$5.99</h4>Half-Order<h4>$3.99</h4></li>
		</div>
			
		<div class="col col-12 col-lg-4 item-section">			
				<h3>Drinks</h3>	
			<li class="menu-item">Soft Drinks <span></span>  Large <h4>$2.99</h4> Small <h4>$1.99</h4></li>
			<li class="menu-item">Iced Tea / Lemonade  <span></span> Large <h4>$3.99</h4> Small <h4>$2.99</h4></li>
			<li class="menu-item">Ice Cold Beer <span></span>  Bottle <h4>$2.99</h4> Can <h4>$1.99</h4></li>
		</div>
	</div>

</div>







<%- include("partials/footer") %>