<%- include("partials/header") %>
<%- include("partials/navbar") %>


<div class="container-fluid menu-container">
	
	<h2 class="section-header">From the Grill</h2>
	
	<div class="row beef-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Beef</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Beef Ribs</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Rack</h4><h5>18.99</h5>
			<h4>Half-Rack</h4><h5>9.99</h5>
		</div>
		
	</div>
	<div class="row beef-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Flank Steak</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>16.99</h5>
			<h4>Half-Order</h4><h5>8.99</h5>
		</div>
		
	</div>
	
	<div class="row beef-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Roast Beef</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>13.99</h5>
			<h4>Half-Order</h4><h5>7.99</h5>
		</div>
		
	</div>
	
	<div class="row chicken-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Chicken</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Grilled Chicken</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Whole Chicken</h4><h5>15.99</h5>
			<h4>Half Chicken</h4><h5>7.99</h5>
		</div>
		
	</div>
	<div class="row chicken-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Chicken Thigh</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>12.99</h5>
			<h4>Half-Order</h4><h5>6.99</h5>
		</div>
		
	</div>
	
	<div class="row chicken-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Chicken Leg</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>10.99</h5>
			<h4>Half-Order</h4><h5>5.99</h5>
		</div>
		
	</div>
	
	
		<div class="row pork-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Pork</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Pork Shoulder</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Whole Order</h4><h5>18.99</h5>
			<h4>Half Order</h4><h5>9.99</h5>
		</div>
		
	</div>
	<div class="row pork-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Pork Loin</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>16.99</h5>
			<h4>Half-Order</h4><h5>8.99</h5>
		</div>
		
	</div>
	
	<div class="row pork-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Pork Chop</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>12.99</h5>
			<h4>Half-Order</h4><h5>6.99</h5>
		</div>
		
	</div>
	
		<h2 class="section-header">From the Smoker</h2>
	
	<div class="row beef-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Beef</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Beef Brisket</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>18.99</h5>
			<h4>Half-Order</h4><h5>9.99</h5>
		</div>
		
	</div>
	<div class="row beef-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Tri-Tip</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>16.99</h5>
			<h4>Half-Order</h4><h5>8.99</h5>
		</div>
		
	</div>
	
	<div class="row beef-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Chuck Roast</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>13.99</h5>
			<h4>Half-Order</h4><h5>7.99</h5>
		</div>
		
	</div>
	
	<div class="row chicken-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Chicken</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Smoked Chicken</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Whole Chicken</h4><h5>15.99</h5>
			<h4>Half Chicken</h4><h5>7.99</h5>
		</div>
		
	</div>
	<div class="row chicken-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Chicken Breast</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>12.99</h5>
			<h4>Half-Order</h4><h5>6.99</h5>
		</div>
		
	</div>
	
	<div class="row chicken-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Chicken Leg</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>10.99</h5>
			<h4>Half-Order</h4><h5>5.99</h5>
		</div>
		
	</div>
	
	
		<div class="row pork-row-1">
		
		<div class="col col-12 meat-header">
			<h2>Pork</h2>
		</div>
		
		<div class="col col-6 meat-options">
			<h3>Pork Shoulder</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Whole Order</h4><h5>18.99</h5>
			<h4>Half Order</h4><h5>9.99</h5>
		</div>
		
	</div>
	<div class="row pork-row-2">
		
		<div class="col col-6 meat-options">
			<h3>Pork Spare Rib</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>16.99</h5>
			<h4>Half-Order</h4><h5>8.99</h5>
		</div>
		
	</div>
	
	<div class="row pork-row-3">
		
		<div class="col col-6 meat-options">
			<h3>Pork Chop</h3>
		</div>	
		
		<div class="col col-6 meat-price">
			<h4>Full-Order</h4><h5>12.99</h5>
			<h4>Half-Order</h4><h5>6.99</h5>
		</div>
		
	</div>
</div>







<%- include("partials/footer") %>