<%- include("partials/header") %>
<%- include("partials/navbar") %>


<div class="container menu-container">
  <div class="menu-section">
			<h2>From The Grill</h2>
		<div class="row item-section">
			
			<h3>Beef</h3>
	</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="row item-section">
			
			<h3>Chicken</h3>
	</div>
	  	<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="row item-section">
			
			<h3>Pork</h3>			
	</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
	</div>
	
	<div class="menu-section">
			<h2>From The Smoker</h2>
		<div class="row item-section">
			
			<h3>Beef</h3>
	</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="row item-section">
			
			<h3>Chicken</h3>
	</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="row item-section">
			
			<h3>Pork</h3>
	</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
		<div class="col col-lg-6 menu-item">test</div>
	</div>

</div>







<%- include("partials/footer") %>