body,html{
	
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}
ul{
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    justify-content:space-around;

    
}
h2.main-title{
	margin-top:125px;	
    font-family:'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
}
.fas{
    padding-right:5px;
}


/* Images */

img{
    height: 355px;
    width: 425px;   
    min-height:200px;
    margin:auto 0;
    border-radius: 20px;
    box-shadow: 2px 2px #c7cfda;;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    
    
}
.row2{
    display:flex;
    
    margin-top: 15px;

}

/* slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;	
}
img{
	margin-top:35px;
	margin-bottom:0;
	border-radius: 20px;
	height:75vh;
	width:70vw;

}
div.slideshow-container{
	margin-top:25px;
	margin-bottom:60px;
}

/* hides images */
.mySlides {
  display: none;
}
/* ------------------ */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.95s;
  animation-name: fade;
  animation-duration: 5.25s;
}

@-webkit-keyframes fade {
	    0% { opacity: 0.0;}
    
    50% { opacity: 1;}
	
	100% { opacity: 0.0;}
}

@keyframes fade {
	    0% { opacity: 0.0;}
    
    50% { opacity: 1;}
	
	100% { opacity: 0.0;}
}
/* ------------------ */
@media screen and (max-width: 600px) {
	h2.main-title{
  	width: 100%;
  	display: flex;
  	justify-content:center;
  	flex-wrap: wrap;
	text-align:center;
	}
